<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 填入java下所在包名-->
<mapper namespace="com.nfsn.mapper.CollectMapper">

    <resultMap id="BaseResultMap" type="com.nfsn.model.entity.Collect">
        <id property="collectId" column="collect_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="courseId" column="course_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        collect_id,user_id,course_id
    </sql>

</mapper>