<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfsn.mapper.ExaminationSubjectMapper">

    <resultMap id="BaseResultMap" type="com.nfsn.model.entity.ExaminationSubject">
            <id property="examinationSubjectId" column="examination_subject_id" jdbcType="INTEGER"/>
            <result property="subjectId" column="subject_id" jdbcType="INTEGER"/>
            <result property="examinationGrade" column="examination_grade" jdbcType="INTEGER"/>
            <result property="examinationSubjectNumber" column="examination_subject_number" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        examination_subject_id,subject_id,examination_grade,
        examination_subject_number
    </sql>
</mapper>
