<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfsn.mapper.OptionMapper">

    <resultMap id="BaseResultMap" type="com.nfsn.model.entity.Option">
            <id property="optionId" column="option_id" jdbcType="INTEGER"/>
            <result property="subjectId" column="subject_id" jdbcType="INTEGER"/>
            <result property="optionValue" column="option_value" jdbcType="VARCHAR"/>
            <result property="option" column="option" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        option_id,subject_id,option_value,
        option
    </sql>
</mapper>
