<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfsn.mapper.QuestionOptionMapper">

    <resultMap id="BaseResultMap" type="com.nfsn.model.entity.QuestionOption">
            <id property="questionOptionId" column="question_option_id" jdbcType="INTEGER"/>
            <result property="questionId" column="question_id" jdbcType="INTEGER"/>
            <result property="optionIndex" column="option_index" jdbcType="VARCHAR"/>
            <result property="optionText" column="option_text" jdbcType="VARCHAR"/>
            <result property="isCorrect" column="is_correct" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        question_option_id,question_id,option_index,
        option_text,is_correct
    </sql>
</mapper>
