<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfsn.mapper.SignInStatusMapper">

    <resultMap id="BaseResultMap" type="com.nfsn.model.entity.SignInStatus">
            <id property="signInStatusId" column="sign_in_status_id" jdbcType="INTEGER"/>
            <result property="signInId" column="sign_in_id" jdbcType="INTEGER"/>
            <result property="studentMessageId" column="student_message_id" jdbcType="INTEGER"/>
            <result property="signInTime" column="sign_in_time" jdbcType="TIMESTAMP"/>
            <result property="signInStatus" column="sign_in_status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        sign_in_status_id,sign_in_id,student_message_id,
        sign_in_time,sign_in_status
    </sql>
</mapper>
