<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfsn.mapper.SignRecordMapper">

    <resultMap id="BaseResultMap" type="com.nfsn.model.entity.SignRecord">
            <id property="signRecordId" column="sign_record_id" jdbcType="INTEGER"/>
            <result property="signId" column="sign_id" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="signStatus" column="sign_status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        sign_record_id,sign_id,student_id,
        sign_status
    </sql>
</mapper>
