<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfsn.mapper.SubmitTaskMapper">

    <resultMap id="BaseResultMap" type="com.nfsn.model.entity.SubmitTask">
            <id property="submitTaskId" column="submit_task_id" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="taskAnswer" column="task_answer" jdbcType="VARCHAR"/>
            <result property="taskStudentGrade" column="task_student_grade" jdbcType="INTEGER"/>
            <result property="submitTaskStatus" column="submit_task_status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        submit_task_id,student_id,task_answer,
        task_student_grade,submit_task_status
    </sql>
</mapper>
