<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfsn.mapper.TaskMapper">

    <resultMap id="BaseResultMap" type="com.nfsn.model.entity.Task">
            <id property="taskId" column="task_id" jdbcType="INTEGER"/>
            <result property="courseId" column="course_id" jdbcType="INTEGER"/>
            <result property="taskName" column="task_name" jdbcType="VARCHAR"/>
            <result property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="finallTime" column="finall_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        task_id,course_id,task_name,
        teacher_id,start_time,finall_time
    </sql>
</mapper>
