<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfsn.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.nfsn.model.entity.User">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userRole" column="user_role" jdbcType="TINYINT"/>
            <result property="userAvatar" column="user_avatar" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phone_number" jdbcType="CHAR"/>
            <result property="userIntroduction" column="user_introduction" jdbcType="VARCHAR"/>
            <result property="userLocationProvince" column="user_location_province" jdbcType="VARCHAR"/>
            <result property="userLocationCity" column="user_location_city" jdbcType="VARCHAR"/>
            <result property="userLocationRegion" column="user_location_region" jdbcType="VARCHAR"/>
            <result property="longitude" column="longitude" jdbcType="DOUBLE"/>
            <result property="latitude" column="latitude" jdbcType="DOUBLE"/>
            <result property="wxOpenid" column="wx_openID" jdbcType="VARCHAR"/>
            <result property="qqOpenid" column="qq_openID" jdbcType="VARCHAR"/>
            <result property="loginLastTime" column="login_last_time" jdbcType="TIMESTAMP"/>
            <result property="offLineLastTime" column="off_line_last_time" jdbcType="TIMESTAMP"/>
            <result property="loginLastTimeIp" column="login_last_time_ip" jdbcType="VARCHAR"/>
            <result property="wxUnionid" column="wx_unionid" jdbcType="VARCHAR"/>
            <result property="qqUnionid" column="QQ_unionid" jdbcType="VARCHAR"/>
            <result property="userRegistTime" column="user_regist_time" jdbcType="TIMESTAMP"/>
            <result property="userStatus" column="user_status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_name,user_role,
        user_avatar,email,phone_number,
        user_introduction,user_location_province,user_location_city,
        user_location_region,longitude,latitude,
        wx_openID,qq_openID,login_last_time,
        off_line_last_time,login_last_time_ip,wx_unionid,
        QQ_unionid,user_regist_time,user_status
    </sql>
</mapper>
